<div class="container mx-auto px-4 py-8">
  <div class="max-w-3xl mx-auto bg-white rounded-lg shadow-lg p-6">
    <h1 class="text-4xl font-bold mb-4">Booking Details for Room <%= @booking.rooms.first.room_number %></h1>
    <p><strong>Check-in:</strong> <%= @booking.checkin_day.strftime("%B %d, %Y") %></p>
    <p><strong>Check-out:</strong> <%= @booking.checkout_day.strftime("%B %d, %Y") %></p>
    <p><strong>Total Amount:</strong> $<%= @booking.total_amount %></p>
    <p><strong>Status:</strong> <%= @booking.status.capitalize %></p>
    <%= link_to 'Back to My Bookings', bookings_path, class: 'block w-full text-center bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 transition duration-300 mt-4' %>
  </div>
</div>
